<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../../OneDrive/Desktop/sslvagrant/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Responsive navbar-->
<%- include('partial/nav')%>
<%if(typeof (errors) != 'undefined'){%>
    <% for(x in errors){%>
        <%if(errors[x] === "Success"){%>
    <br><span style="color: #20c997"><%=errors[x]%></span>
        <%}%>
    <br><span><%=errors[x]%></span>
    <%}%>
<%}%>

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Form</h1>

        </div>
    </div>


</header>

<!-- Page content-->
<div class="container">
    <div>
        <form action="/form" method="POST" class="form-horizontal">

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="firstName">First Name</label>
                <div class="col-md-4">
                    <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lastName">Last Name</label>
                <div class="col-md-4">
                    <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="state">State</label>
                <div class="col-md-4">
                    <input id="state" name="state" type="text" placeholder="State" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="address">Address</label>
                <div class="col-md-4">
                    <input id="address" name="address" type="text" placeholder="Address" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cityName">City</label>
                <div class="col-md-4">
                    <input id="cityName" name="cityName" type="text" placeholder="City" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="zip">Zip Code</label>
                <div class="col-md-4">
                    <input id="zip" name="zip" type="text" placeholder="Zip Code" class="form-control input-md">

                </div>
            </div>

            <!-- Button Drop Down -->
            <label class="dropdown" for="age">Age (5-10) </label>
                <select id="age" name="age">
                    <option value=""> </option>
                    <option value=”5”>5</option>
                    <option value=”6”>6</option>
                    <option value=”7”>7</option>
                    <option value=”8”>8</option>
                    <option value=”9”>9</option>
                    <option value=”10”>10</option>
                </select>

            <!-- Multiple Radios -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="gender">Gender</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label for="gender-0">
                            <input type="radio" name="gender" id="gender-0" value="1" checked="checked">
                            Male
                        </label>
                    </div>
                    <div class="radio">
                        <label for="gender-1">
                            <input type="radio" name="gender" id="gender-1" value="2">
                            Female
                        </label>
                    </div>
                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="consent">Consent</label>
                <div class="col-md-4">
                    <label class="radio-inline" for="consent-0">
                        <input type="radio" name="consent" id="consent-0" value="1" checked="checked">
                        Yes
                    </label>
                    <label class="radio-inline" for="consent-1">
                        <input type="radio" name="consent" id="consent-1" value="2">
                        No
                    </label>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bio">Bio</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="bio" name="bio">default text</textarea>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit">Submit</label>
                <div class="col-md-4">
                    <input type="submit">
                </div>
            </div>

        </form>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<!-- Bootstrap core JS-->
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
